<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EOGEVALab_v1.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EOGEVALab_v1.Config>
            <setting name="portAddress" serializeAs="String">
                <value>888</value>
            </setting>
            <setting name="channel1" serializeAs="String">
                <value/>
            </setting>
            <setting name="minVoltageCh1" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="maxVoltageCh1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="channel2" serializeAs="String">
                <value/>
            </setting>
            <setting name="minVoltageCh2" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="maxVoltageCh2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="frequency" serializeAs="String">
                <value>100</value>
            </setting>
        </EOGEVALab_v1.Config>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="4544464CDEAAB541" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.5.20.149" newVersion="8.5.20.149"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
